.markdown-section hr {
  height: 1px;
  background-color: #999;
}

.markdown-section blockquote {
  background: #fafafa;
  padding: 10px 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
  border-left: 4px solid #e5e5e5;
  font-size: 13px;
}

.markdown-section p:last-child {
  margin: 0;
}

.copy-code-button {
  font-size: 12px !important;
  border: 1px solid #999 !important;
  color: #999 !important;
}
