.markdown-section {
  padding: 0 5px;
}
.markdown-section hr {
  height: 1px;
  background-color: #999;
}

.markdown-section blockquote {
  background: #f5f5f5;
  padding: 10px 15px;
  border-radius: 3px;
  border: 1px solid #ccc;
  border-left: 4px solid #998;
  font-size: 13px;
  color: #333;
  box-shadow: 0px 3px 5px rgb(0 0 0 / 50%);
}

.markdown-section p:last-child {
  margin: 0;
}

.copy-code-button {
  font-size: 12px !important;
  border: 1px solid #000 !important;
  color: #999 !important;
  border-radius: 2px !important;
  right: 4px !important;
  top: 6px !important;
  padding: 1px 3px !important;
  font-family: 'FontAwesome';
  box-shadow: 1px 1px 1px inset rgb(255 255 255 / 25%);
}

:not(pre) > code[class*='language-'],
pre[class*='language-'] {
  border-radius: 3px;
  background: #2d2d2d;
  padding-top: 24px;
  border: 1px solid #ccc;
}
